<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= stats.db_name %></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if params[:refresh] %>
    <meta http-equiv="refresh" content="<%= params[:refresh].to_i %>;">
  <% end  %>
  <link rel="stylesheet" href="css/elephant.css">
  <link rel="icon" type="image/png" href="img/favicon.png">
  <link rel="shortcut icon" type="image/x-icon" href="img/postgresql.ico">
</head>
<body>
<div class="content">
  <nav class="navbar">
    <div class="row">
      <div class="eleven columns menu">
        <ul>
          <li><a href="summary" class="logo">&nbsp;</a></li>
          <li><%= link "Activity", "activity" %></li>
          <li><a href="indices" class="">Indices</a></li>
          <li><a href="size" class="">Size</a></li>
          <li><a href="tables" class="">Tables</a></li>
        </ul>
      </div>
      <div class="one column">
        <%= link "Refresh", ".", params %>
      </div>
    </div>
  </nav>
  <div class="container">
    <div>
      <div class="twelve columns menu">

      </div>
    </div>
    <div class="row content">
      <div class="twelve columns">
        <%= yield %>
      </div>
    </div>
    <div class="push"></div>
  </div>
  </div>
<footer>
  <div class="row">
    <div class="twelve columns menu centered">
      <span><%= stats.db_name %> on PostgreSQL <%= stats.version %></span>
      <small>(client version <%= stats.client_version %>)</small>
    </div>
  </div>
</footer>
</body>
</html>
